<div class="login-container">
  <p class="text-sm text-center mt-5 mutedText">Welcome to</p>
  <p class="text-5xl font-bold text-center text-blue-500 mt-2 logo">TRA<span class="text-gray-300">CED</span></p>
  <p class="text-center mt-6 mb-5 mutedText">Take control of your money with clarity and confidence.</p>

  <form (ngSubmit)="onLogin()">
    <div class="flex justify-center">
      <div>
        <p class="text-sm mutedText">Email</p>
        <mat-form-field appearance="outline" class="">
          <input matInput [(ngModel)]="email" name="email" class="!py-1">
        </mat-form-field>
      </div>
    </div>

    <div class="flex justify-center my-2">
      <div>
        <p class="text-sm mutedText">Password</p>
        <mat-form-field appearance="outline" class="">
          <input type="password" matInput [(ngModel)]="password" name="password" class="!py-1">
        </mat-form-field>
      </div>
    </div>

    <!-- <button type="submit" [disabled]="loading" > {{ loading ? 'Logging in...' : 'Login' }} </button> -->
    <button type="submit" [disabled]="loading" class="min-w-[240px] flex items-center justify-center gap-1 bg-blue-500 text-white rounded-md shadow-md pl-2 pr-3 py-2 mx-auto my-6"> Login </button>

    <p *ngIf="errorMessage" class="text-red-500 text-sm mt-4 text-center"> {{ errorMessage }} </p>
  </form>

  <p class="text-sm mutedText mt-4 text-center">
    Don't have an account?
    <a [routerLink]="['/signup']" class="text-blue-500">Sign up</a>
  </p>
</div>

<mat-spinner *ngIf="loading" class="mx-auto my-10"></mat-spinner>

<div class="fixed left-0 -bottom-6 flex justify-center">
  <img src="assets/login_bg.png" class="w-full pt-2 py-6 px-2" />
</div>



