<div>
  <p class="text-center font-bold">Profile</p>
  <div class="flex justify-center">
    <mat-icon class="!text-8xl !w-24 !h-24">account_circle</mat-icon>
  </div>

  <div class="w-fit mx-auto my-10">
    <div class="flex justify-between items-center">
      <p class="font-bold">Personal Info</p>
      <p class="text-sm mutedText">Edit</p>
    </div>

    <div class="flex flex-col gap-4 mt-4">
      <div class="flex gap-4 items-center">
        <mat-icon class="!text-[32px] !w-8 !h-8">account_circle</mat-icon>
        <div>
          <p class="text-xs mutedText">Name</p>
          <p>John Cedrick Bayhon</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <mat-icon class="!text-[32px] !w-8 !h-8">mail</mat-icon>
        <div>
          <p class="text-xs mutedText">E-mail</p>
          <p>bayhoncedrick@gmail.com</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <mat-icon class="!text-[32px] !w-8 !h-8">phone_iphone</mat-icon>
        <div>
          <p class="text-xs mutedText">Phone number</p>
          <p>+971 50 123-4567</p>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <mat-icon class="!text-[32px] !w-8 !h-8">home</mat-icon>
        <div>
          <p class="text-xs mutedText">Home address</p>
          <p>7 Street, Al Danah, Abu Dhabi, UAE</p>
        </div>
      </div>
    </div>

  </div>
</div>
