<form (ngSubmit)="saveProfile()" class="mt-20">
  <p class="text-center font-bold">Profile</p>
  <div class="flex justify-center">
    <mat-icon class="!text-8xl !w-24 !h-24">account_circle</mat-icon>
  </div>

  <div class="flex flex-col items-center">
    <div>
      <p class="text-sm mutedText">Name</p>
      <mat-form-field appearance="outline" class="">
        <input matInput [(ngModel)]="vars.displayName" name="name" class="!py-1">
      </mat-form-field>
    </div>

    <div class="my-2">
      <p class="text-sm mutedText">Phone</p>
      <mat-form-field appearance="outline" class="">
        <input matInput [(ngModel)]="vars.phone" name="phone" class="!py-1">
      </mat-form-field>
    </div>

    <div class="my-2">
      <p class="text-sm mutedText">Monthly Income</p>
      <mat-form-field appearance="outline" class="">
        <input matInput [(ngModel)]="vars.monthlyIncome" name="income" class="!py-1">
      </mat-form-field>
    </div>

    <div>
      <p class="text-sm mutedText">Currency</p>
      <mat-form-field appearance="outline" class="!max-w-fit">
        <mat-select [(ngModel)]="vars.currency" name="currency" [value]="vars.currency">
          <mat-option value="php">PHP</mat-option>
          <mat-option value="aed">AED</mat-option>
          <mat-option value="usd">USD</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


  </div>

  <button type="submit" [disabled]="loading" class="min-w-[240px] flex items-center justify-center gap-1 bg-blue-300 text-white rounded-md shadow-md pl-2 pr-3 py-2 mx-auto mt-4 disabled:opacity-60 disabled:cursor-not-allowed"> Save </button>
</form>

<mat-spinner *ngIf="loading" class="mx-auto my-10"></mat-spinner>
