<div class="p-6">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <mat-icon *ngIf="!displayMenu" class="-mt-0.5 icons" (click)="displayMenu = !displayMenu">menu</mat-icon>
      <mat-icon *ngIf="displayMenu" class="-mt-0.5 z-10 icons" (click)="displayMenu = !displayMenu">close</mat-icon>
      <p class="text-2xl font-bold tracking-wide logo" routerLink="/">TRACED</p>
    </div>
    <div class="flex items-center justify-center gap-1 bg-blue-300 rounded-md shadow-md px-3 py-1">
      <mat-icon class="text-[16px] !w-4 !h-4 text-white">add</mat-icon>
      <p class="text-sm text-white" (click)="openDialog()">New Transaction</p>
    </div>
  </div>

  <div *ngIf="displayMenu" class="absolute top-0 left-0 w-full h-screen flex flex-col items-center gap-4 pt-16 bg-white">
    <p *ngFor="let nav of navLinks" [routerLink]="nav.routerLink" (click)="displayMenu = !displayMenu">{{nav.nav}}</p>
  </div>

  <div *ngIf="!displayMenu" class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
