<div>
  <div *ngIf="vars.displayTableFilter" class="flex items-center justify-between my-4">
    <div class="flex items-center gap-1">
      <mat-form-field class="border rounded-md overflow-hidden">
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <mat-icon class="icons">search</mat-icon>
    </div>

    <div class="flex items-center gap-1">
      <div class="flex items-center text-center border px-3 py-1 rounded-md" (click)="filterTodaysTransaction()">
        <p class="text-sm">Today's Trans.</p>
      </div>
      <mat-icon *ngIf="filteredToday" (click)="resetTodaysTransactionFilter()">close</mat-icon>
    </div>
  </div>

  <div class="mt-4">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">

      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col === 'created_at' ? 'Date' : col.charAt(0).toUpperCase() + col.slice(1)}} </th>
        <td mat-cell *matCellDef="let row">
          <div *ngIf="col === 'category'" class="min-w-16 px-2 py-0.5 rounded-md border border-r-8"
              [ngClass]="row[col].toLowerCase() === 'grocery' ? 'border-r-green-300'
                        : row[col].toLowerCase() === 'transportation' ? 'border-r-purple-300'
                        : row[col].toLowerCase() === 'restaurant' ? 'border-r-pink-300'
                        : row[col].toLowerCase() === 'shopping' ? 'border-r-blue-300'
                        : row[col].toLowerCase() === 'telco' ? 'border-r-teal-300'
                        : 'border-r-gray-300'">
            <p class="text-center text-sm">{{row[col].charAt(0).toUpperCase() + row[col].slice(1)}}</p>
          </div>

          <div *ngIf="col === 'price'">
            <p class="text-sm">{{row[col] | currency:'AED '}}</p>
          </div>

          <div *ngIf="col === 'created_at'">
            <p class="text-sm">{{row[col] | date:'MM-dd '}}</p>
          </div>

          <div *ngIf="col !== 'category' && col !== 'price' && col !== 'created_at'" class="max-w-28">
            <p class="text-sm truncate">{{row[col]}}</p>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <div>
            <mat-spinner *ngIf="vars.transactionSummaryDatasource.data" class="!w-10 !h-10 mx-auto my-5"></mat-spinner>
            <!-- <img *ngIf="vars.transactionSummaryDatasource.data" src="../../../assets/empty_data.png" /> -->
          </div>
        </td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="vars.displayTableFilter ? [20] : [5]" hidePageSize></mat-paginator>
  </div>
</div>
