::ng-deep .mat-paginator-range-label {
  font-size: 14px !important;
  margin: 0 16px !important;
}
::ng-deep .mat-paginator-icon {
  width: 24px !important;
}
::ng-deep .mat-paginator-outer-container {
  border-top-width: 1px;
}

::ng-deep .mat-icon-button {
  width: 30px !important;
  height: 36px !important;
}

::ng-deep td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 4px !important;
}
::ng-deep  td.mat-cell:last-of-type {
  padding-right: 4px !important;
}
::ng-deep td.mat-cell {
  border-bottom-width: 0 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: unset !important;
}
::ng-deep .mat-form-field-label-wrapper {
  padding-top: unset !important;
}
::ng-deep .mat-form-field-infix {
  border-top: unset !important;
  /* width: 340px !important; */
}
::ng-deep .mat-form-field-label-wrapper {
  top: unset !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}
::ng-deep input.mat-input-element {
  padding: 0 4px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .3em 0 !important;
}

::ng-deep .mat-progress-spinner svg {
  width: 40px !important;
  height: 40px !important;
}
::ng-deep .mat-progress-spinner {
  width: 40px !important;
  height: 40px !important;
}
